@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

h1 {
    background-color: green;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}

main {
    flex: 1;
}

footer {
    display: flex;
    background-color: green;
    color: white;
    padding: 5px;
    justify-content: space-around;
}
